In [34]:
import pandas as pd
import numpy as np

df_s = pd.DataFrame({
                    'Model' : ['A','B','C','D','E','F','G'],
                    'HP'    : [130,250,190,300,210,220,170],
                    'GW'    : [1900,2600,2200,2900,2400,2300,2400]
                    })
df_h = pd.DataFrame({
                    'Model' : ['A','B','C','D'],
                    'HP'    : [120,220,120,200],
                    'GW'    : [1900,2100,1500,2900]
                    })
df_s = df_s.T
df_h = df_h.T
print(df_s)
print(df_h)

          0     1     2     3     4     5     6
Model     A     B     C     D     E     F     G
HP      130   250   190   300   210   220   170
GW     1900  2600  2200  2900  2400  2300  2400
          0     1     2     3
Model     A     B     C     D
HP      120   220   120   200
GW     1900  2100  1500  2900

In [48]:
df_s['maker'] = 'S moter'
df_h['maker'] = 'H moter'
new_df = pd.concat((df_s,df_h))
new_df

          0     1     2     3     4     5     6    maker
Model     A     B     C     D     E     F     G  S moter
HP      130   250   190   300   210   220   170  S moter
GW     1900  2600  2200  2900  2400  2300  2400  S moter
Model     A     B     C     D   NaN   NaN   NaN  H moter
HP      120   220   120   200   NaN   NaN   NaN  H moter
GW     1900  2100  1500  2900   NaN   NaN   NaN  H moter

In [59]:
pwr_s = []
pwr_h = []
for i in range(7):
    pwr_s.append(new_df.iat[1,i]/new_df.iat[2,i])
for i in range(4):
    pwr_h.append(new_df.iat[4,i]/new_df.iat[5,i])
print('S moter의 HP/GW의 평균 :', sum(pwr_s)/7, '\nH moter의 HP/GW의 평균 :', sum(pwr_h)/4)
print('S moter의 HP/GW가 H moter의 HP/GW 보다 평균적으로 0.01정도 높다.')

S moter의 HP/GW의 평균 : 0.08691033117964389
H moter의 HP/GW의 평균 : 0.07922132918503155
S moter의 HP/GW가 H moter의 HP/GW 보다 평균적으로 0.01정도 높다.