In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
data = pd.read_csv("/kaggle/input/drug-classification/drug200.csv")

In [5]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [6]:
data.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [7]:
data.shape

(200, 6)

In [9]:
data.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [13]:
data['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

def label_encoder(l):
    le = LabelEncoder()
    data[l] = le.fit_transform(data[l])

lable_list = ["Sex","BP","Cholesterol","Na_to_K","Drug"]
for l in lable_list:
    label_encoder(l)

data.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0      167     0
1   47    1   1            0       89     3
2   47    1   1            0       43     3
3   28    0   2            0       10     4
4   61    0   1            0      133     0