In [8]:
#  Write a Python function to sum all the numbers in a list
def sum(numbers): 
    total = 0 
    for x in numbers: 
        total += x 
    return total 

num_list = [8,2,3,0,7]
print(sum(num_list))

8 8
10 2
13 3
13 0
20 7
20

In [10]:
# Write a Python function that takes a number as a parameter and checks whether the number is prime or not

def test_prime(n): 
    if (n==1): 
        return False 
    elif (n==2): 
        return True; 
    else: 
        for x in range(2,n): 
            if(n % x==0): 
                return False 
        return True 

print(test_prime(7))

True

In [12]:
# Write a Python function to check whether a number is "Perfect" or not.
def perfect_number(n): 
    sum = 0 
    for x in range(1, n): 
        if n % x == 0: 
            sum += x 
    return sum == n 

print(perfect_number(6))

True

In [14]:
# practice 6-1
class Student: 
    def __init__(self,name,mark):
        self.student_name = name
        self.student_mark = mark

#create Student object with name = "kim" and mark = "90"
s = Student('kim',90)

print(s.student_name," gets mark of ",s.student_mark)

#change mark to 85
s.student_mark = 85

print("the modified mark is ",s.student_mark)

kim  gets mark of  90
the modified mark is  85

In [25]:
# practice 6-2
class Student_m: 
    def __init__(self,name,mark):
        self.student_name = name
        self.student_mark = mark
    def set_Name(self, s):
        self.student_name = s
    def print_Name(self):
        print(self.student_name)
        

#create Student object with name = "kim" and mark = "90"
s = Student_m('kim',90)

print("student name is ",s.student_name)

#change student nameto 'park'
print('student name is modified')
s.set_Name('park')
s.print_Name()

student name is  kim
student name is modified
park

In [28]:
class Employee:
    def __init__(self, id, name, salary, department):
        self.id = id
        self.name = name
        self.salary = salary
        self.department = department
    
    def assign_department(self, department):
        self.department = department
    
    def print_employee_details(self):
        print('Employee ID:',self.id)
        print('Employee Name:',self.name)
        print('Employee Salary:',self.salary)
        print('Employee Dept.:',self.department)
    
    def calculate_emp_salary(self,hours_worked):
        salary = self.salary
        overtime = hours_worked - 50
        return salary+(overtime*(salary/50))
    
employee1 = Employee("ADAMS","E7876",50000,"ACCOUNTING")
employee2 = Employee("JONES","E7499",45000,"RESEARCH")
employee3 = Employee("MARTIN","E7900",50000,"SALES")
employee4 = Employee("SMITH","E7698",55000,"OPERATIONS")

employee1.print_employee_details()
employee1.assign_department("MARKETING")
employee1.print_employee_details()
print('This month salary is ', employee1.calculate_emp_salary(60))

Employee ID: ADAMS
Employee Name: E7876
Employee Salary: 50000
Employee Dept.: ACCOUNTING
Employee ID: ADAMS
Employee Name: E7876
Employee Salary: 50000
Employee Dept.: MARKETING
This month salary is  60000.0

In [34]:
import random
print(random.random())

random_list = []
for i in range(10):
    random_list.append(random.random()*6)
print(random_list)

list_shuffled = random.shuffle(random_list)
print(random_list)

selected_list = random.sample(random_list,5)
print(selected_list)

0.5373076026636963
[3.1523770936735303, 1.4379900825924383, 1.2739302767061558, 5.830306929868701, 5.433185596637885, 5.491262462360529, 3.498623052608777, 1.26841857432192, 3.7391013029999494, 3.326380850756421]
[3.498623052608777, 1.4379900825924383, 1.2739302767061558, 5.491262462360529, 5.830306929868701, 5.433185596637885, 1.26841857432192, 3.7391013029999494, 3.1523770936735303, 3.326380850756421]
[3.326380850756421, 3.7391013029999494, 5.830306929868701, 1.4379900825924383, 1.26841857432192]